.price-range-slider {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.price-range {
  /* margin-top: 200px; */
}

.range-area {
  display: grid;
  grid-template-columns: 65% 27%;
  gap: 8%;
  padding: 60px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 16px;
}

.left-range {
  text-align: center;
  position: relative;
}

.left-range p {
  font-family: "Urbanist", sans-serif;
}

.MuiSlider-root {
  color: var(--main-color) !important;
  height: 12px !important;
}

h3.range-title {
  font-size: 34px;
  line-height: 50px;
}

h2.range-total {
  font-size: 30px;
  margin: 28px 0;
  font-family: "Urbanist", sans-serif;
}

.get-start-btn {
  padding: 10px 31px;
  background: var(--main-color);
  color: var(--white-color);
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
  border: 2px solid var(--main-color);
}

/* .get-start-btn:hover {
  background: none;
} */

.right-telk {
  text-align: center;
}

h2.month-price {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "Urbanist", sans-serif;
}

h2.month-price span {
  font-size: 20px;
}

.right-telk p {
  margin-top: 10px;
}

.left-range::after {
  content: "";
  position: absolute;
  right: -49px;
  top: 0;
  bottom: 0;
  background: #ddd;
  width: 2px;
}

.price-range-width {
  width: 70%;
  margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .range-area {
    grid-template-columns: 100%;
    gap: 8%;
  }
  h2.range-total {
    font-size: 30px;
    margin: 20px 0;
  }
  .left-range::after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .range-area {
    grid-template-columns: 100%;
    gap: 8%;
    padding: 20px 20px 50px 20px;
  }
  .price-range-width {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .range-area {
    grid-template-columns: 100%;
    gap: 8%;
    padding: 20px 20px 50px 20px;
  }
  .price-range-width {
    width: 100%;
  }
  h3.range-title {
    font-size: 23px;
    line-height: 40px;
  }
  h2.range-total {
    font-size: 25px;
  }
  h2.month-price {
    font-size: 25px;
  }
}
