/* <!-- =============== Portfolio Hero start ======================= --> */

.portfolio {
  background: #f8faff;
}

.portfolio-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;
}

.portfolio-left h1 {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 128%;
  letter-spacing: -0.5px;
  color: #061237;
}

.portfolio-left p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #11142d;
  margin-top: 10px;
}

.portfolio-btn {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-top: 20px;
}

.portfolio-btn .btn-hero-1 {
  padding: 16px 46px;
  background: #6e58eb;
  box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
  border-radius: 37px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  transition: 0.3s;
  border: 2px solid var(--main-color);
}

.portfolio-btn .btn-hero-1:hover {
  background: #4c38bd;
  border: 2px solid #4c38bd;
}

.portfolio-btn .btn-hero-2 {
  padding: 16px 46px;
  border: 2px solid #6c54ea;
  filter: drop-shadow(0px 19px 29px rgba(62, 53, 120, 0.14));
  border-radius: 37px;
  color: #6e58eb;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  transition: 0.3s;
}

.portfolio-btn .btn-hero-2:hover {
  background: #6e58eb;
  color: #ffffff;
}

.portfolio-right {
  position: relative;
}

.hero-bg-img-1 img {
  width: 100%;
}

.portfolio-right .hero-bg-img-2 {
  position: absolute;
  top: 20%;
  left: -1%;
  animation: hero-img-2 1s linear 2s infinite alternate;
}

.portfolio-right .hero-bg-img-2 img {
  width: 100%;
}

@keyframes hero-img-2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.portfolio-right .hero-bg-img-3 {
  position: absolute;
  bottom: 27%;
  right: 0%;
  animation: hero-img-3 1s linear 2s infinite alternate;
}

@keyframes hero-img-3 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.portfolio-right .hero-bg-img-4 {
  position: absolute;
  left: -1%;
  bottom: 1%;
  animation: hero-img-4 2s linear infinite alternate;
}

@keyframes hero-img-4 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}

.portfolio-right .hero-bg-img-5 {
  position: absolute;
  top: 17%;
  right: 0%;
  animation: hero-img-5 2s linear infinite alternate;
}

@keyframes hero-img-5 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.portfolio-right .hero-bg-img-6 {
  position: absolute;
  bottom: -15%;
  right: 26%;
  animation: hero-img-6 2s linear infinite alternate;
}

@keyframes hero-img-6 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.portfolio-followers {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 20px;
}

.follower-member {
  display: flex;
  align-items: center;
  margin-left: -6px;
}

.follower-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -15px;
}

.follower-content p {
  margin: 0;
  font-weight: 600;
}

@media screen and (max-width: 1240px) {
  .portfolio-wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .portfolio-right .hero-bg-img-2 {
    top: 11%;
    left: 0%;
  }
  .portfolio-right .hero-bg-img-6 {
    bottom: -5%;
    right: 26%;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-wrapper {
    gap: 20px;
  }
  .portfolio-left {
    text-align: center;
  }
  .portfolio-left h1 {
    font-size: 40px;
  }
  .portfolio-btn {
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  .portfolio-wrapper {
    gap: 10px;
  }
  .portfolio-left {
    text-align: center;
  }
  .portfolio-left h1 {
    font-size: 30px;
  }
  .portfolio-btn {
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }
  .portfolio-right .hero-bg-img-2 {
    top: 18%;
    left: 1%;
  }
  .portfolio-right .hero-bg-img-2 img {
    width: 120px !important;
  }
  .portfolio-right .hero-bg-img-3 img {
    width: 120px !important;
  }
  .portfolio-right .hero-bg-img-4 img {
    width: 120px !important;
  }
  .portfolio-right .hero-bg-img-5 img {
    width: 120px !important;
  }
  .portfolio-right .hero-bg-img-6 img {
    width: 120px !important;
  }
  .portfolio-right .hero-bg-img-3 {
    bottom: 22%;
    right: 0%;
  }
  .portfolio-followers {
    flex-direction: column;
    margin-left: 0;
  }
}

/* <!-- =============== Portfolio Hero end ======================= --> */

/* <!-- ============== Our Recent Project start============== --> */

.our-recent-title h3 {
  font-size: 40px;
  font-family: "Urbanist";
  font-weight: 800;
  color: #323232;
  line-height: 50px;
  /* margin-left: 50px; */
  @media screen and (max-width: 768px) {
    font-size: 25px;
    line-height: 40px;
  }
}

.our-recent-project-items {
  position: relative;
}

.our-recent-arrow-left {
  position: absolute;
  left: -7%;
}

.our-recent-arrow {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dad3ff;
  padding: 10px;
  top: 50%;
}

.our-recent-arrow-right {
  position: absolute;
  right: -8%;
}

.our-recent-project-item {
  width: 100%;
}

.our-recent-project-img img {
  width: 100%;
}

.our-recent-project-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.our-recent-project-content-item h3 {
  color: #14161b;
  font-family: "Urbanist";
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 10px;
}

.our-recent-project-content-item a {
  color: #11142d;
}

.our-recent-project-content-item-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6c54ea;
  cursor: pointer;
}

/* <!-- ============== Our Recent Project end============== --> */

/* <!-- ============== Our Imagine start ======================  --> */

.imagine-title h3 {
  font-size: 40px;
  font-family: "Urbanist";
  font-weight: 800;
  color: #323232;
  text-align: center;
  line-height: 50px;
}

.imagine-items {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 4%;
  gap: 4%;
  align-items: center;
}

.imagine-item h4 {
  font-family: "Urbanist";
  font-weight: 700;
  font-size: 22px;
  color: #434343;
  margin-bottom: 20px;
}

.imagine-item-img {
  position: relative;
  display: flex;
  align-items: center;
}

.imaging-img {
  width: 100%;
}

.imaging-img img {
  width: 100%;
}

.imagine-arrow-left {
  position: absolute;
  left: 15px;
  cursor: pointer;
  z-index: 1;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.imagine-arrow-right {
  position: absolute;
  right: 15px;
  cursor: pointer;
  z-index: 1;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  .our-recent-arrow-left {
    left: 0;
    z-index: 99;
  }
  .our-recent-arrow-right {
    right: 0;
    z-index: 99;
  }
}

@media screen and (max-width: 992px) {
  .imagine-items {
    grid-template-columns: 48% 48%;
    gap: 4%;
  }
  .our-recent-arrow {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .imagine-items {
    grid-template-columns: 100%;
    gap: 50px;
  }
  .imagine-title h3 {
    font-size: 30px;
  }
  .imagine-item h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

/* <!-- ============== Our Imagine end ======================  --> */

/* <!-- ===================== Creative Ideas start ============== --> */

.creative-idea {
  background: #6c54ea;
  padding: 50px 0 80px 0;
}

.creative-idea-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.creative-idea-content-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.creative-idea-content-left h3 {
  font-size: 40px;
  font-family: "Urbanist";
  font-weight: 800;
  color: #ffffff;
  line-height: 50px;
}

.creative-idea-content-left p {
  color: #ffffff;
}

.creative-idea-content-left .create-idea-btn {
  width: 250px;
  padding: 16px 16px;
  background: #ffffff;
  box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
  border-radius: 37px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  color: #6c54ea;
  transition: 0.3s;
  border: 2px solid var(--main-color);
  cursor: pointer;
}

.creative-idea-content-right img {
  width: 100%;
  cursor: pointer;
}

.creative-idea-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 30px;
}

.creative-idea-item img {
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .creative-idea-content-left {
    text-align: center;
  }
  .creative-idea-content-left .create-idea-btn {
    text-align: center;
    margin: auto;
  }
  .creative-idea-content {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .creative-idea-items {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .creative-idea-content-left h3 {
    font-size: 30px;
  }
  .creative-idea-content-left {
    text-align: center;
  }
  .creative-idea-content-left .create-idea-btn {
    text-align: center;
    margin: auto;
  }
  .creative-idea-content {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .creative-idea-items {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .our-recent-project {
    padding-top: 100px;
  }
}

/* <!-- ===================== Creative Ideas end ============== --> */

.slider-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000033;
  z-index: 999;
  display: none;
  backdrop-filter: blur(14px);
  transition: 0.3s;
}

.slider-popup-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slider-popup-img img {
  max-width: 100%;
}

.slider-popup.active {
  display: block;
}
